################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Net8/bin/Debug/net8.0
/Net8/obj
/Net8/logs
